{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-holder">
        <section class="home-center text-center">
            <div class="container">
            <h1>Welcome To Klarart</h1>
            <p class="welcome-msg">We love art and we love and we love making people happy. 
                So please have a browse in our store. All pieces are made 
                by Klara Thunberg!
            </p>
            <p>
                <a href="{% url 'products' %}" class="store-btn btn btn-primary my-2">Store</a>
            </p>

            </div>
        </section>
    </div>
{% endblock %}